###if($pjax == 1)
####    #parse("/common/nav-tab.vm")
##    $screen_content
###else
<!DOCTYPE html>
<html lang="en">
<head>
    #parse("/common/header_css.vm")
    #parse("/common/html_head.vm")

</head>
<body>
<div id="layout" class="ch-container">

    <div class="layui-layout layui-layout-admin">
        #parse("/common/header.vm")

        #parse("/common/left_side.vm")

        <div class="layui-body">
            $screen_content
        </div>
        #parse("/common/footer.vm")
    </div>

</div>

    #parse("/common/common_js.vm")

</body>
</html>
###end