<div class="layui-header">
    <div class="layui-logo">XNW后台管理</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        #foreach(${top} in ${topMenu})
            <li class="layui-nav-item #if($stringUtils.contains(${currentFunctionTreeInfo},${top.id})) active #end"><a href="javascript:void(0)" onclick="showLeftMenu(${top.id})">${top.functionName}</a></li>
        #end
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                贤心
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">退了</a></li>
    </ul>
</div>