<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        #foreach(${leftMenuEntry} in ${leftMenuMap.entrySet()})
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul style="display: none;" class="layui-nav layui-nav-tree leftMenu"  lay-filter="test" id="leftmenu_$!{leftMenuEntry.key}">
            #foreach(${leftMenu} in ${leftMenuEntry.value})
                #if(${leftMenu.parentFunction}==false)
                    <li class="layui-nav-item"><a href="${leftMenu.functionUrl}">${leftMenu.functionName}</a></li>
                #end
                #if(${leftMenu.parentFunction}!=false)
                    <li class="layui-nav-item">
                        <a href="javascript:;">${leftMenu.functionName}</a>
                        <dl class="layui-nav-child">
                            #foreach(${child} in ${leftMenu.childenFunctions})
                                <dd><a href="${child.functionUrl}">${child.functionName}</a></dd>
                            #end
                        </dl>
                    </li>
                #end
            #end
        </ul>
        #end
    </div>
</div>